.features{
    width: 50%;
    color: white;
    text-align: center;
    padding: 3%;
}
.btn{
    height: 50px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    font-size: 20px;
    font-weight: 600;
}